.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;

  .title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 2em;
    color: orangered;
    padding-top: 50px;
  }

  .monthPicker {
    font-size: 1.6em;
  }

  .navigation {
  }

  .days {
  }

  .calendar {
  }
}
